[flake8]
ignore =
    # See https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes and
    # http://flake8.pycqa.org/en/latest/user/error-codes.html for reference.

    # E501: line too long (82 > 79 characters)
    E501,
    # E711: comparison to None should be 'if cond is None:'
    E711,
    # E712: comparison to True should be 'if cond is True:' or 'if cond:'
    E712,
    # E722: do not use bare except, specify exception instead
    E722,

    # E741: ambiguous variable names
    E741,

    # Don't care about double-quotes in docstrings
    Q002,

    # Don't care about double-quotes in multiline strings
    Q001,

    W504,
    W605,

per-file-ignores =
    orca/app.py:E402